body {
  	background: #282923;
}

body.load {
    opacity: 1;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 600;
	color: #fff;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	font-style: light;
	color: #d4d5d6;
	margin: 0;
}

button {
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	font-weight: 300;
	color: #e7db74;
	background: none;
	border: 1px #e7db74 solid;
	border-radius: 3px;
	padding: 10px;
	user-select: none;
	cursor: pointer;

	-webkit-transition: 0.2s background;
	-moz-transition: 0.2s background;
	-ms-transition: 0.2s background;
	-o-transition: 0.2s background;
	transition: 0.2s background;
}

button:hover {
	background: rgba(231, 219, 116, 0.05);
}

button:focus {
	outline: 0;
}

#container {
	margin: 0 10%;
	opacity: 0;
  	-webkit-transition: 0.7s opacity, 0.5s margin-top;
	-moz-transition: 0.7s opacity, 0.5s margin-top;
	-ms-transition: 0.7s opacity, 0.5s margin-top;
	-o-transition: 0.7s opacity, 0.5s margin-top;
  	transition: 0.7s opacity, 0.5s margin-top;
}

#content {
	display: block;
	margin: 12% auto 0 auto;
}

#container.load {
	opacity: 1;
	margin-top: 10%;
}

#work {
	margin-top: 18%;
	width: 100%;
	display: inline-block;
}

#about {
	margin-top: 18%;
	display: inline-block;
}

.timeline_element-contents {
	overflow: auto;
	padding: 30px 0;
	margin-left: 100px
}

.timeline_element-text {
	width: 50%;
	float: left;
}

.timeline_element-img {
	width: 50%;
	float: right;
	text-align: center;
	padding-top: 40px;
}

.timeline_element {
	position: relative;	
	overflow: hidden;
}

.timeline>ul {
	list-style: none
}
.timeline>ul,
.timeline>ul>li {
	margin: 0;
	padding: 0
}

.timeline>ul>li {
	display: block
}

#about .left {
	float: left;
	width: 65%;
}

#about .right {
	float: right;
	width: 30%;
}

h2 {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin: 0;
	margin-bottom: 25px;
	overflow: hidden;
}

h2:after {
	margin-left: 20px;
	position: absolute;
    top: 50%;
    width: 500px;
    height: 1px;
    content: '\a0';
    background-color: gray;
}

h3 {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 500;
	color: #fff;
	margin: 0;
	margin-bottom: 5px;
	overflow: hidden;
}

h3 span {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 400;
	display: block;
	color: #ddd;
}

p a {
	position: relative;
	color: #e7db74;
	text-decoration: none;
}

p a:hover {
	color: #e7db74;
}

p a::before {
	content: "";
	position: absolute;
	height: 1px;
	bottom: 0;
	right: 0;
	width: 0;
	background-color: #e7db74;
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

p a:hover::before {
   left: 0;
   right: auto;
   width: 100%;
}

#about ul {
	text-align: left;
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	display: grid;
	overflow: hidden;
	padding: 0;
	grid-template-columns: 	repeat(3, minmax(100px, 200px));
}

#about li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 20px;
	display: inline;
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	font-weight: 300;
	color: #d4d5d6;
	padding-left: 1em;
	text-indent: -1em;
}

#about li:before {
	content: "▹";
	padding-right: 5px;
	color: #e7db74;
	font-size: 18px;
}

.timeline_element-contents ul {
	text-align: left;
	list-style: none;
	margin: 5px 0;
	overflow: hidden;
	padding: 0;
}

.timeline_element-contents li {
	position: relative;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #d4d5d6;
	text-indent: -1em;
}

.timeline_element-contents p {
	margin-top: 15px;
	font-size: 16px;
}

.timeline_element-contents li:before {
	content: "▹";
	padding-right: 5px;
	color: #e7db74;
	font-size: 18px;
}

div .timeline_element-tech {
	margin-top: 15px;
}

.timeline_element-tech div {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	font-weight: 300;
	border: 1px #e7db74 solid;
	background: rgba(231, 219, 116, 0.05);
	padding: 8px;
	display: inline-block;
	color: white;
	margin-top: 5px;
}

.timeline_element-tech p {
	margin-bottom: 8px;
}

.timeline_element-tech a {
	margin-bottom: 8px;
	position: relative;
	color: #e7db74;
	text-decoration: none;
}

.timeline_element-tech a:hover {
	color: #e7db74;
}

.timeline_element-tech a::before {
	content: "";
	position: absolute;
	height: 1px;
	bottom: 0;
	right: 0;
	width: 0;
	background-color: #e7db74;
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.timeline_element-img img {
	max-width: 90%;
	max-height: 450px;
}

.timeline_element-tech a:hover::before {
   left: 0;
   right: auto;
   width: 100%;
}

.title-line {
	height: 1px;
	width: 95%;
	display: inline-block;
	background: gray;
	margin-bottom: 5px;
	margin-left: 20px;
}

#footer span {
	font-size: 16px;
}

#copyright {
	text-align: center;
	display: block;
}

#footer {
    display: inline-block;
    text-align: center;
    margin: 5% auto 2% auto;
    width: 100%;
}

.code-yellow {
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	font-weight: 300;
	color: #e7db74;
}

#main .desc {
	max-width: 50%; 
	margin: 4% 0;
}

::selection {
 	background: #b7c9ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
 	background: #b7c9ff; /* Gecko Browsers */
}

@media only screen and (max-width: 768px) {
	#container {
		margin: 0 6%;
		opacity: 0;
	  	-webkit-transition: 0.7s opacity, 0.5s margin-top;
		-moz-transition: 0.7s opacity, 0.5s margin-top;
		-ms-transition: 0.7s opacity, 0.5s margin-top;
		-o-transition: 0.7s opacity, 0.5s margin-top;
	  	transition: 0.7s opacity, 0.5s margin-top;
	}

	#container.load {
		opacity: 1;
		margin-top: 7%;
	}

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 40px;
		font-weight: 600;
		color: #fff;
		margin: 5px 0 5px 0;
	}

	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-weight: 300;
		font-style: light;
		color: #d4d5d6;
		margin: 0;
	}

	button {
		font-family: 'Source Code Pro', monospace;
		font-size: 18px;
		font-weight: 300;
		color: #e7db74;
		background: none;
		border: 1px #e7db74 solid;
		border-radius: 3px;
		padding: 10px;
		user-select: none;
	}

	button:hover {
		background: rgba(231, 219, 116, 0.05);
	}

	button:focus {
		outline: 0;
	}

	.code-yellow {
		font-family: 'Source Code Pro', monospace;
		font-size: 20px;
		font-weight: 300;
		color: #e7db74;
	}

	#main {
		margin-top: 50%;
	}

	#main .desc {
		max-width: 100%; 
		margin: 10% 0 20% 0;
	}

	#about {
		margin-top: 45%;
		margin-bottom: 20%;
	}

	#about .left {
		float: left;
		width: 100%;
	}

	#about .right {
		margin-top: 15px;
		float: left;
		width: 100%;
	}

	#main p {
		font-size: 17px;
	}

	h2:after {
		margin-left: 20px;
		position: absolute;
	    top: 50%;
	    width: 100%;
	    height: 1px;
	    content: '\a0';
	    background-color: gray;
	}
}

@media screen and (max-width:567px) {
	.timeline_element {
		border-top: 1px solid gray;
		padding-top: 15px!important;
		margin-top: 15px!important
	}

	.timeline_element-date {
		color: #e7db74;
		font-family: 'Source Code Pro', monospace;
		font-size: 18px;
		font-weight: 300;
	}

	.timeline_element-date {
		display: block;
		width: auto;
		position: static;
		padding: 0;
		border: none
	}
	.timeline_element-date:after {
		display: none
	}
	.timeline_element-contents {
		margin-left: 0;
		border: none;
		padding: 15px 0 0;
		padding-top: 0;
		padding-bottom: 1em
	}
	.timeline_element-contents li {
		font-size: 15px;
	}
	.timeline_element-contents p {
		font-size: 15px;
	}
	h3 {
		font-size: 20px;
	}
	h3 span {
		font-size: 17px;
	}
	.timeline_element-tech div {
		font-family: 'Source Code Pro', monospace;
		font-size: 14px;
		font-weight: 300;
		border: 1px #e7db74 solid;
		background: rgba(231, 219, 116, 0.05);
		padding: 5px;
		display: inline-block;
		color: white;
		margin-top: 5px;
	}

}

@media screen and (min-width:568px) {
	.timeline_element-date {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		padding: 30px 15px;
		width: 50px;
		color: #e7db74;
		font-family: 'Source Code Pro', monospace;
		font-size: 18px;
		font-weight: 300;
		text-align: right;
		line-height: 30px;
		border-right: 1px solid gray;
	}
	.timeline_element-date:after {
		content: " ";
		position: absolute;
		top: 42.5px;
		right: -4px;
		display: block;
		width: 7px;
		height: 7px;
		background-color: #d4d5d6;
	}
	.timeline_element:first-child .timeline_element-date {
		padding-top: 0;
		line-height: 1.5;
		margin-top: 10px
	}
	.timeline_element:first-child .timeline_element-date .timeline_element-date-text {
		margin-top: -10px;
		display: block
	}
	.timeline_element:first-child .timeline_element-date:after {
		top: 0
	}
	.timeline_element+.timeline_element .timeline_element-contents {
		border-top: 1px solid gray;
	}
	.timeline .timeline_element:first-child .timeline_element-contents,
	.timeline_element:first-child .timeline_element-contents {
		padding-top: 0
	}
	.timeline .timeline_element:first-child .timeline_element-date {
		padding-top: 0;
		line-height: 1.5;
		margin-top: 10px
	}
	.timeline .timeline_element:first-child .timeline_element-date .timeline_element-date-text {
		margin-top: -10px;
		display: block
	}
	.timeline .timeline_element:first-child .timeline_element-date:after {
		top: 0
	}
	.timeline {
		position: relative;
		margin-top: 30px;
	}
}

@media screen and (max-width: 1526px) {
	.timeline_element-img img {
		max-width: 100%;
		max-height: 450px;
	}

	.timeline_element-img {
		width: unset;
		float: unset;
		text-align: center;
		padding-top: 40px;
	}

	.timeline_element-text {
		width: unset;
		float: unset;
	}

}
